---
layout: page
title: BIXI Bikeshare Project
subtitle: Welcome to our Applied Data Analysis final project!
use-site-title: true
---

<body>
  <p>Our project on data analysis for social good focuses on the bikeshare
     system in Montreal and how we can improve the system using data analysis
    in order to encourage bike travel as a mode of transport. Bikes are both
  more environmentally friendly and healthy than other modes of transport such
as cars and buses. By adapting the bikeshare system to better suit the needs of
the users we can encourage bike travel and improve citizens' tranport experiences
which are such an integral part of our everyday lives.</p>
  </body>


{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | relative_url }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | relative_url }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
